/*
Project Name: Relaxr
Author: Mr. Kapowski
Developer @GA in the Chi
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
 -moz-box-sizing: border-box; /* Firexfox */
 -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
 box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
 color: #000;
 font-size: 12px;
 line-height: 1.4;
 font-family: open sans, Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.intro {
  width: 100%;
  height: 700px;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
}

h1 {
  font-size: 34px;
  font-weight: 800;
  color: white;
  font-family: open sans;
  text-align: left;
  margin-top: 40px;
  margin-left: 40px;
  display: inline-block;
}

h2 {
  font-size: 35px;
  font-weight: 500;
  color: white;
  font-family: open sans;
  text-align: center;
  position: relative;
  top: 21%;
}

.button {
  width: 200px;
  height: 40px;
  font-size: 19px;
  background-color: #f9e42e;
  border-radius: 5px;
  text-align: center;
  margin: 240px auto;
  color: #033048;
  font-weight: 700;
  line-height: 43px;
  transition: background-color 0.5s ease;

}

.benefits {
  background-color: white;
  width: auto;
  height: 350px;

}

.benefits h3 {
  font-size: 33px;
  font-weight: 600;
  color: #033048;
  font-family: open sans;
  text-align: left;
  margin-top: 65px;
  margin-left: 100px;

}

p,li {
  font-size: 21px;
  font-weight: 300;
  color: #606161;
  margin-left: 100px;
}

p { 
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
}

ul li { 
  list-style-type: disc; 
  margin-left: 160px;
  color: #606161;
  max-width: 350px;
  max-height: 50%;
}

.quote {
  width: 100%;
  height: 398px;
  background: url(../images/testimonial_bg.jpg) no-repeat; 
  background-size: 100%;  
  background-size: cover; 
  text-align: center;
}

.quote p {
  font-size: 24px;
  color: white;
  font-style: italic;
  margin: 0 auto;
  position: relative;
  top: 35%;
  line-height: 36px;
}

p.lebron {
 font-size: 24px;
 color: white;
 font-style: normal;
 font-weight: 600;
}

.sign-up {
  width: 100%;
  height: 100px;
  background-color: #f9e42e;
}


.sign-up .button {
  margin: 0 auto;
  width: 250px;
  height: 45px;
  font-size: 19px;
  background-color: #033048;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 46px;
  position: relative;
  top: 31%;
  transition: background-color 0.5s ease;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #121212;
  text-align: center;
}

.footer h1 {
  font-size: 34px;
  font-weight: 700;
  color: #f9e42e;
  font-family: open sans;
  margin: 40px 0px 0px 0px;
  text-align: center;
}

.footer .icons {
  position: relative;
  top: 10%;
  text-align: center;
}

img {
  margin: 20px;
}

.copyright {
  font-size: 12px;
  color: white;
  font-weight: 400;
  position: relative;
  top: 23%;
  max-width: none;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button:hover {
  background-color:#D3BD01;
}

.button:active {
  color:#141b1f;
}


/*img:hover {
    background-color:#D3BD01;

    }*/

    .sign-up .button:hover {
      background-color:#01131D;
    }



/******************************************
/* ADDITIONAL STYLES
/*******************************************/




